:root {
  /* greyscale */
  --sg-black: #000000;

  --sg-grey-dark:       #1E1E1E;
  --sg-grey-dark-100:   #212426;
  --sg-grey-dark-300:   #2E3337;
  --sg-grey-dark-500:   #3F4447;
  --sg-grey-dark-700:   #515558;
  --sg-grey-dark-900:   #626668;

  --sg-grey-medium:     #CCCCCC;
  --sg-grey-medium-100: #7D7F81;
  --sg-grey-medium-300: #8E9092;
  --sg-grey-medium-500: #A0A1A2;
  --sg-grey-medium-700: #B2B2B3;
  --sg-grey-medium-900: #C3C3C4;

  --sg-grey-light:      #F2F2F2;
  --sg-grey-light-100:  #D0D0D0;
  --sg-grey-light-300:  #D7D7D7;
  --sg-grey-light-500:  #DFDFDF;
  --sg-grey-light-700:  #E7E7E7;
  --sg-grey-light-900:  #EEEEEE;

  --sg-grey-extra-light: #F8F8F8;
  --sg-white:            #FFFFFF;
  
  --sg-blue:     #0071BC;
  --sg-blue-200: #182F3E;
  --sg-blue-400: #123F5D;
  --sg-blue-600: #0C507D;
  --sg-blue-800: #06609C;
  
  --sg-blue-green-200: #007EB7;
  --sg-blue-green-400: #008BB2;
  --sg-blue-green-600: #0097AE;
  --sg-blue-green-800: #00B1A4;

  --sg-green:     #00CC99;
  --sg-green-200: #184137;
  --sg-green-400: #12644F;
  --sg-green-600: #0C8668;
  --sg-green-800: #06A980;
  
  --sg-purple:    #A661FF;
  --sg-magenta:   #DA54A4;
  --sg-red:       #F45959;
  --sg-red-dark:  #CB4A4A;
  --sg-orange:    #F28622;
  --sg-yellow:    #FFB800;

  /* primary gradient endpoints */
  --sg-gradient-start: #0071BC;
  --sg-gradient-end: #00CC99;
  --sgx-gradient-start: #A661FF;
  --sgx-gradient-end: #0071BC;

  --sg-blue-green-dark: hsla(172, 35%, 25%, 1);
}

/* --- 2. semantic aliases that point at those tokens --- */
:root {
  /* surfaces & text */
  /* --surface_drk: var(--sg-grey-dark-100); */
  --surface_drk: hsla(166.7, 14.8%, 12%, 1); /* #1A2321; */
  --surface_lit: var(--sg-grey-light);
  --fg:          var(--sg-grey-dark-700);
  --fg_light:    var(--sg-grey-medium-900);
  --header:      var(--sg-blue-green-dark);
   
  --text:        var(--sg-grey-light-100);
  --text_bg:     var(--sg-grey-dark-300);

  /* accent colours */
  --acc_green:   var(--sg-green-800);
  --acc_blue:    var(--sg-blue-green-600);
  --acc_yellow:  var(--sg-yellow);
  --acc_orange:  var(--sg-orange);
  --acc_purple:  var(--sg-purple);
  --acc_red:     var(--sg-red);
  --marker:      var(--sg-magenta);
}


[data-md-color-scheme="singular-light"] {
  --md-default-bg-color: var(--surface_lit);
  --md-primary-fg-color: var(--surface_drk);
  --md-typeset-a-color: var(--acc_green);
  --md-accent-fg-color: var(--acc_green);
}

[data-md-color-scheme="singular-dark"] {
  --md-default-bg-color: var(--surface_drk);      /* surface */
  --md-primary-fg-color: var(--header);           /* header */
  
  --md-primary-bg-color: var(--fg_light);         /* header text and logos */
  --md-default-fg-color--light: var(--text);      /* headlines */
  
  --md-default-fg-color: var(--acc_purple);       /* selectables (like tabs) */
  --md-accent-fg-color: var(--acc_purple);        /* hover color for links and buttons */
  
  --md-default-fg-color--lighter: var(--fg);      /* unselected scrollbars */
  
  --md-typeset-color: var(--text);                /* main text body */
  --md-typeset-a-color: var(--acc_green);         /* links and selected nav items */
  --md-typeset-mark-color: var(--acc_red);         /* unsure?! */

  --md-code-fg-color: var(--text);
  --md-code-bg-color: hsla(172, 20%, 18%, 1);
  
  /* --md-code-hl-comment-color: var(--sg-grey-dark-900);
  --md-code-hl-generic-color: var(--text);
  --md-code-hl-punctuation-color: var(--acc_green);
   */
  /* --md-code-hl-punctuation-color: var(--acc_green);
  
  --md-code-hl-variable-color: var(--acc_green);
  --md-code-hl-string-color: var(--acc_green);
  --md-code-hl-keyword-color: var(--acc_green);
  --md-code-hl-operator-color: var(--acc_green);
  --md-code-hl-number-color: var(--acc_green);
  --md-code-hl-special-color: var(--acc_green);
  --md-code-hl-function-color: var(--acc_green);
  --md-code-hl-constant-color: var(--marker);
  --md-code-hl-name-color: var(--acc_green); */

  --md-typeset-del-color: hsla(6, 90%, 60%, 0.15);
  --md-typeset-ins-color: hsla(150, 90%, 44%, 0.15);

  --md-typeset-table-color: hsla(0, 0%, 100%, 0.12);
  --md-typeset-table-color--light: hsla(0, 0%, 100%, 0.035);
}



hr {
  border: none;
  height: 1px;
  background-color: hsla(172, 50%, 44%, 0.15);  /* Change this to your desired color */
  margin: 0.5em 0;
}


[data-md-color-scheme="singular-light"] img[src$="#only-dark"],
[data-md-color-scheme="singular-light"] img[src$="#gh-dark-mode-only"] {
  display: none; /* Hide dark images in light mode */
}

[data-md-color-scheme="singular-light"] img[src$="#only-light"],
[data-md-color-scheme="singular-light"] img[src$="#gh-light-mode-only"] {
  display: inline; /* Show light images in light mode */
}

[data-md-color-scheme="singular-dark"] img[src$="#only-light"],
[data-md-color-scheme="singular-dark"] img[src$="#gh-light-mode-only"] {
  display: none; /* Hide light images in dark mode */
}

[data-md-color-scheme="singular-dark"] img[src$="#only-dark"],
[data-md-color-scheme="singular-dark"] img[src$="#gh-dark-mode-only"] {
  display: inline; /* Show dark images in dark mode */
}

/* See: https://github.com/squidfunk/mkdocs-material/issues/175#issuecomment-616694465 */
.md-typeset__table {
  min-width: 100%;
}
.md-typeset table:not([class]) {
  display: table;
}

/* See: https://github.com/singular-sh/ruff/issues/8519 */
[data-md-color-scheme="singular-dark"] details summary a {
  color: var(--acc_orange);
}

/* See: https://github.com/singular-sh/ruff/issues/9046 */
[data-md-color-scheme="singular-dark"] div.admonition {
  color: var(--text);
  background-color: var(--surface_drk);
}

/* Site title (left-hand side of the top bar) */
.md-header__title {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1rem;
}

/* Logo area, if you want it aligned with the new title height */
.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 1.5rem;
  width: 1.5rem;
}

/* Prevent the shadow from the nav title from blurring the top link.
The box shadow isn't really doing anything anyway.

This is a consequence of the reduced nav spacing below. */
.md-nav--primary .md-nav__title {
  box-shadow: none;
}

/* Omits the nav title "uv" entirely unless on a small screen, in which case
the nav title is needed for backwards navigation in the collapsible
nav variant.

See https://github.com/astral-sh/uv/issues/5130 */
@media screen and (min-width: 76.25em) {
  .md-nav__title {
    display: none;
  }
}


/* Always take the full screen for content, require scrolling to see the footer
This stops the size of the nav from jumping around when you visit a page without
a lot of content (i.e., an overview page). We don't apply this to sma screens
because the nav is in a hamburger menu anyway
*/
@media screen and (min-width: 76.25em) {
  .md-main {
    min-height: 100vh;
  }
}

/* Tweak the formatting of the primary nav on a large screen */
@media screen and (min-width: 76.25em) {
  .md-nav--primary .md-nav {
    font-size: 0.75rem;
  }
  /* Remove the bold from the section headings, use a larger font instead */
  .md-nav__item--section > .md-nav__link {
      font-weight: normal;
      font-size: 0.85rem;
  }
  /* Reducing spacing between nav items to fit more content 
  First, disable `nav__link` spacing then use `nav__item` to enforce margins this reduces inconsistencies in the spacing. */
  .md-nav--primary .md-nav__link {
    margin: 0.1em;
  }
  .md-nav--primary .md-nav__item {
    margin-top: 0.35em;
  }
  /* Use larger spacing for the sections headings */
  .md-nav--primary .md-nav__item--section {
    margin-bottom: 1.75em;
    margin-top: 1.75em;
  }
  /* Decrease the font size of items in a collapsible section */
  .md-nav__item--section> .md-nav > .md-nav__list > .md-nav__item > .md-nav > .md-nav__list {
    font-size: 0.725rem;
  }
  /* Increase top margin on the first item of a collapsible section */
  .md-nav__item--section> .md-nav > .md-nav__list > .md-nav__item > .md-nav > .md-nav__list > .md-nav__item:first-of-type {
    margin-top: 0.5em;
  }
  
  /* Increase bottom margin on the last item of a collapsible section */
  .md-nav__item--section> .md-nav > .md-nav__list > .md-nav__item > .md-nav > .md-nav__list > .md-nav__item:last-of-type {
    margin-bottom: 0.575em;
  }
  
  /* Increase the size of the first nav item to match the sections 
  It has no children, so it is not considered a section */
  .md-nav--primary > .md-nav__list > .md-nav__item:first-of-type {
    font-size: 0.85rem;
    margin-bottom: 0.75em; 
  }
}

/* Bold the active nav link for accessibility */
.md-nav__link--active {
  font-weight: bold;
}

/* See: https://mkdocstrings.github.io/recipes/#prevent-selection-of-prompts-and-output-in-python-code-blocks */
.highlight .gp, .highlight .go { /* Generic.Prompt, Generic.Output */
  user-select: none;
}

/* works with or without navigation.tabs */
.md-nav__item--section > .md-nav__link,
.md-nav__item--section > label {      /* label = collapsed sections */
  font-weight: 700;                  /* or 600 for semi-bold        */
  font-size: 0.85rem;                /* default is 0.8 rem          */
  letter-spacing: 0.02em;            /* optional for clarity        */
}


/* move every link that *isn’t* the section title 1 rem to the right */
.md-nav__item--section .md-nav__item > .md-nav__link {
  padding-left: 0.5rem;  /* tweak to taste */
}

/* Styling for the generated CLI reference page
.cli-reference dd {
  margin-top: 0.1em;
  margin-bottom: 0.5em;
}
.cli-reference dd p {
  margin-block-start: 0.2em;
  margin-block-end: 0.3em;
}
.cli-reference ul {
  margin-bottom: 0.1em;
}
h3.cli-reference {
  font-size: 1.1em;
  margin: 0 0 0 0;
} */

/* Styling for anchor link headers */
.toclink {
  color: unset !important;
}

.toclink:hover {
  color: var(--md-accent-fg-color) !important;
}

/* Omit the first breadcrumb item, which is the "Introduction" */
.md-path__list > .md-path__item:first-of-type {
  display: none;
}
.md-path__list > .md-path__item:nth-of-type(2):before {
  display: none;
}

/* Hide the modified date — its positioning is awkward but will require theme
modifications */
.md-source-file__fact {
  visibility: hidden;
}
