/* COLOR SCHEMES */

[data-md-color-scheme] {
  --md-hue: 172;

  --md-accent-fg-color: var(--acc_purple);                                /* selectables (like tabs) */
  --md-accent-bg-color: var(--acc_purple);                                /* hover items */
  --md-typeset-a-color: var(--acc_green);                                 /* links and selected nav items */
  --md-primary-fg-color: hsla(var(--md-hue), 30%, 22%, 1);                /* header */
  --md-primary-bg-color: var(--text_header);                              /* header text and logos */
  --md-accent-fg-color--transparent: hsla(var(--md-hue), 30%, 22%, 0.5);  /* hover item like clickable nav arrow */
  --md-default-fg-color--lighter: hsla(var(--md-hue), 10%, 45%, 0.5);     /* scrollbars */
}

[data-md-color-scheme="slate"] {
  /* surface */
  --surface: hsla(var(--md-hue), 15%, 10%, 1);
  --md-default-bg-color: var(--surface);

  /* text */
  --md-default-fg-color: var(--text_lit);              /* body */
  --md-default-fg-color--light: var(--text_lit_2);     /* captions */

  /* borders / separators / copy buttons */
  --md-default-fg-color--lightest: var(--text_lit_2);

  /* footer */
  --md-footer-bg-color: var(--surface);
  --md-footer-fg-color: var(--text_lit_2);
  --md-footer-fg-color--light: var(--text_lit_2);

  /* code backdrop */
  --md-code-bg-color: hsla(var(--md-hue), 10%, 20%, 1);

  /* If you want per-level control */
  .md-typeset h1 { color: var(--text_lit_2) !important; }
  .md-typeset h2 { color: var(--text_lit_2) !important; }
  .md-typeset h3 { color: var(--text_lit_1) !important; }
  .md-typeset h4 { color: var(--text_lit_1) !important; }
  .md-typeset h5 { color: var(--text_lit_1) !important; }

  /* set color of the nav background in slim windows */
  div.md-nav__source {
      background-color: hsla(var(--md-hue), 15%, 10%, 1) !important;
  }

  /* sets the color of the small screen hamburger menu */
  label.md-nav__title {
      background-color: var(--md-primary-fg-color) !important;
      color: var(--md-primary-bg-color) !important;
  }

  }

[data-md-color-scheme="default"] {
  /* surface */
  --surface: hsla(var(--md-hue), 15%, 82%, 1);
  --md-default-bg-color: var(--surface);

  /* text */
  --md-default-fg-color: var(--text_drk);              /* body */
  --md-default-fg-color--light: var(--text_drk_2);     /* captions */

  /* borders / separators / copy buttons */
  --md-default-fg-color--lightest: var(--text_lit_2);

  /* footer */
  --md-footer-bg-color: var(--surface);
  --md-footer-fg-color: var(--text_drk_2);
  --md-footer-fg-color--light: var(--text_drk_2);

  /* code backdrop */
  --md-code-bg-color: hsla(var(--md-hue), 10%, 90%, 1);

  /* If you want per-level control */
  .md-typeset h1 { color: var(--text_drk_2) !important; }
  .md-typeset h2 { color: var(--text_drk_2) !important; }
  .md-typeset h3 { color: var(--text_drk_1) !important; }
  .md-typeset h4 { color: var(--text_drk_1) !important; }
  .md-typeset h5 { color: var(--text_drk_1) !important; }
}

.md-search-result__meta {
  background: #222 !important;
}

/* removing color of un-hovered links */
/* AND setting color of hovered links */
.toclink {
  color: unset !important;
}
.toclink:hover {
  color: var(--md-accent-fg-color) !important;
}


/* TEXT ELEMENT SIZING */

/* Base body text */
.md-typeset {
  font-size: 0.875rem !important;
}

/* Headings */
.md-typeset h1 {
  font-size: 2.5rem !important;
  line-height: 0.25 !important;
}
.md-typeset h2 {
  font-size: 1.8rem !important;
  font-weight: 100 !important;
}
.md-typeset h3 {
  font-size: 1.4rem !important;
  font-weight: 100 !important;
}
.md-typeset h4 {
  font-size: 1.2rem !important;
  font-weight: 300 !important;
}
.md-typeset h5 {
  font-weight: 500 !important;
}


/* admonition text sizing */

/* Whole admonition block */
.md-typeset .admonition,
.md-typeset details.admonition {
  font-size: 0.8rem !important;
}

/* title line ("Note", "Warning", etc.) */
.md-typeset .admonition>.admonition-title,
.md-typeset details.admonition>summary {
  font-size: 0.9rem !important;
  font-weight: 500 !important;
}

/* ——— Header (site title in top bar) ——— */
.md-header__topic,
/* Material ≤ v9          */
.site-name {
  /* Built-in mkdocs theme  */
  font-weight: 200 !important;
  font-size: 1.15rem !important;
}


/* MISC */

/* Logo area size */
.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 1.5rem;
  width: 1.5rem;
}

/* Always take the full screen for content, require scrolling to see the footer
This stops the size of the nav from jumping around when you visit a page without
a lot of content (i.e., an overview page). We don't apply this to small screens
because the nav is in a hamburger menu anyway
*/
@media screen and (min-width: 76.25em) {
  .md-main {
    min-height: 100vh;
  }
}

/* make tables take the full width */
/* See: https://github.com/squidfunk/mkdocs-material/issues/175#issuecomment-616694465 */
.md-typeset__table {
  min-width: 100%;
}
.md-typeset table:not([class]) {
  display: table;
}

/* some python code selection bug? Not sure it applies to us */
/* See: https://mkdocstrings.github.io/recipes/#prevent-selection-of-prompts-and-output-in-python-code-blocks */
.highlight .gp,
.highlight .go {
  /* Generic.Prompt, Generic.Output */
  user-select: none;
}

/* Omit the first breadcrumb item, which is the "Introduction"
.md-path__list>.md-path__item:first-of-type {
  display: none;
}

.md-path__list>.md-path__item:nth-of-type(2):before {
  display: none;
}
*/


/* Hide the modified date — its positioning is awkward but will require theme
modifications
.md-source-file__fact {
  visibility: hidden;
}
*/
