name: Download Demo Data from S3

on:
  push:
  workflow_dispatch:  # run manually; you can also use push, pull_request, etc.

jobs:
  download-from-s3:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v5

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.BFX_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.BFX_AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-1

      - name: Download file from S3
        run: |
          cd ./tests/
          aws s3 cp s3://sg-data-portal-public/datasets/demo_data.tar datasets/demo_data.tar --no-progress
          aws s3 cp s3://sg-data-portal-public/configs/datasets.json datasets/config.json
          jq -r '.datasets[] | select(.id=="demo_data_1x1") | "\(.dataChecksum)  \(.objectKey)"' datasets/config.json > datasets/demo_data.md5
          md5sum -c datasets/demo_data.md5
          rm ./datasets/config.json ./datasets/demo_data.md5
          mv datasets demo_data
      
      - name: Extract demo data
        run: |
          cd ./tests/demo_data
          tar -xf demo_data.tar
          rm demo_data.tar
          ls -lh demo_data