name: Docker release
permissions:
  contents: read

on:
  push:
    tags:
      - 'v*.*.*'
      - 'test_package_*'
  workflow_dispatch:

jobs:
  docker-release:
    uses: ./.github/workflows/docker-build.yml
    secrets: inherit
    with:
      push: true
      ref_name: ${{ github.ref_name }}
