# .github/workflows/publish.yml
name: Publish

on:
  push:
    tags:
      - v*  # e.g. v0.1.0
      - 'test_publish_*'

jobs:
  G4X-helpers_PyPI:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Project Environment
        uses: ./.github/actions/setup-project
        with:
          docs-submodule-token: ${{ secrets.CORE_DOCS_ASSETS_READ }}

      - name: Build
        run: uv build

      - name: Publish
        run: uv publish
