name: Run Pytest
description: Build project and run pytest
permissions:
  contents: read

on:
  push:   
  workflow_dispatch:

jobs:
  run_pytest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup Project Environment
        uses: ./.github/actions/setup-project

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.BFX_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.BFX_AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-1

      - name: Download test dataset
        run: |
          bash ./tests/scripts/get_test_data.sh micro_data.tar
      
      - name: run pytest
        run: |
          uv run pytest
