name: "Setup docs environment"
description: "Checkout repo + submodule, set up project with uv"

runs:
  using: "composite"
  steps:
    - name: Checkout repo with submodule
      uses: actions/checkout@v5
      with:
        fetch-depth: 1
        submodules: recursive  # fetch submodules as well
        token: ${{ secrets.CORE_DOCS_ASSETS_READ }}

    - name: Pull latest changes for submodules
      run: |
        git submodule update --init --recursive docs/_core
        cd docs/_core
        git fetch origin
        git checkout main
        git pull origin main

    - name: Checkout repo again to restore default GITHUB_TOKEN
      uses: actions/checkout@v5
      with:
        fetch-depth: 1
        clean: false

    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
        version-file: "pyproject.toml"