name: Build docs

on:
  push:   
  workflow_dispatch:

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Setup docs environment
        uses: ./.github/actions/setup-project

      - name: run pytest
        run: |
          uv run pytest
